.bg-primary {
	background-color: #05668d !important ;
}
.bg-success {
	background-color: #028090 !important;
}
.bg-warning {
	background-color: #00a896 !important;
}
.bg-danger {
	background-color: #02c39a !important;
}
#header img {
	width: 100%;
	height: 100%;
}
::selection{
	color: #ffffff;
	background-color: #ff9708;
}
.primary{
	color: #ff9708 !important;
}
.footer i {
	font-size: 24px !important;
    margin: 0 10px;
}
.bg-black {
	background-color: #000;
}
text-black {
	color: #000;
}
.port-item {
	width: 25%;
	cursor: pointer;
}
.port-item:hover {
	opacity: 0.8;
}
.fa-linkedin:hover {
	color: #1da1f2;
}
.fa-github:hover {
	color: #db4437;
}
.main {
	position: relative;
}
footer{
	background-color: #242424;
	padding: 50px 0;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.main:hover .overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	opacity: 0.1;
	width: 100%;
	height: 100%;
	z-index: 100;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
#skills,
#experience{
	background-image: url('../images/banner.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#skills .heading{
	color: #ffffff;
}
#contact.bg-black,
#skills .heading:after{
	background-color: #fff;
}

@media only screen and (min-width: 0px) and (max-width: 770px) {
	.port-item {
		padding: 10px 10px !important;
	}

	#home.card {
		padding: 10px 10px !important;
	}
	.intro{
		min-height: auto;
		height: auto;
	}
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
.skill-card {
	transition: 0.2s all ease-in;
}
.skill-image {
	transition: 0.2s all ease-in;
}
.skill-card:hover .skill-image {
	transform: translateY(-5px);
	transition: 0.2s all ease-in;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
